<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/fc9d6af1-206a-4911-8ba6-422addc098cc.css"/>
  <link href="../css/global.css" rel="stylesheet" />
  
</head>
<body>
  <div class="container-fluid no-padding">      
    {{ header-navigation.html }}
    {{ banner.html }}
    {{ sticky-nav.html }}
    {{ services.html }}
    {{ lifetime-support.html }}
    {{ latest-news.html }}
    {{ insights.html }}
    {{ glance.html }}
    {{ footer.html }}

  </div>
  <div class="overlay-back"></div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>if (!window.jQuery) { document.write('<script src="src/lib/jquery.min.js"><\/script>'); }
  </script>
  <script type="text/javascript" src="../scripts/global.js"></script>
</body>
</html>